[submodule "MSBuildCache"]
	path = MSBuildCache
	url = https://github.com/microsoft/MSBuildCache.git
[submodule "jira-performance-tests"]
	path = jira-performance-tests
	url = https://bitbucket.org/atlassian/jira-performance-tests.git
